@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");

.Login{

  margin-left: 25%;
  margin-top: 10%;
  width: 50%;
	border-radius: 5px;
	padding: 3em;
  background-color: rgba(17, 158, 194, 0.4);
  
}

.form-nuevoProy{
  margin-left: 30%;
  margin-top: 5%;
  width: 45%;
}

.bajar{

  margin-top: 10%;

}
.cuadros{

  width: 30%;
}


.rojo{

  background-color: red;
  color: white;
}


.alin-left{
  text-align: left;

}
.barra-busqueda{
  text-align: center;
  margin-left: 30%;
  margin-top: 100px;
  width: 40%;
}

.btn-buscar{
  width: 20%;

}

.lista{
  margin-left: 20%;
  width: 60%;  
}

.btn-agregar{
  width: 45%;

}

.der{

  float: right;
}

.izq{

  float: left;
}
.App {
  text-align: center;
}


.App-header {
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.col-sm-4, col-sm-3{
 padding-left: 5%;
margin-left: 28%;
}

.form-group1{
  margin-top: 3%;
  margin-left: 18%;
}

.form-control{
  text-align: center;
}

.ProjectForm{
  margin-left: 1%;
  
  text-align: left;
}

.divItemForm{
  float: left;
}

.login-page {

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
  text-align: center;
	color: black;

	padding: 3em;

}

.tareas-page{
  position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
  text-align: center;
  color: black;
  

	padding: 3em;
}


	h1 {
		font-weight: 700;
		
	}
  .nav-link{
    font-size: 18px;
  }
.user-avatar1{
  width: 20%;
  
}
 .dashboard-page {
   height: 300px;
 }
.brand{
  color: white;
}

.nav-link1{
  font-size: 15px;
  color: lightgrey;
}

	.form-group {
		padding: 6px 0;
	}

	.form-content {
		padding: 30px 0;
	}

.ui-view {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  
}

.btn-agregarPersProy{

  margin-left: 20%;
}
.input-lg {
   border: none;
    
  }
  
  .alertas{
  width: 300px;

  }